
* { padding: 0; margin: 0; }

.hide{
	display:none;
}

body {
	background-color: #ffffff;
	font-size: 11px;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	color:#564b47;
	padding:0px;
	margin:0px;
}
a {
	
	color: darkgray;
	
}
a:visited {
	
	color: darkgray;
	
	
}
a:hover {
	/*
	color: #564b47;
	*/
	
}
a:active {
	/*
	color:#000000;
	*/
	
}

p {
	padding: 5px 10px;
}

pre{
	font-size: 12px;
	padding: 5px 10px;
}

h1 {
	font-size: 11px;
	text-transform:uppercase;
	background-color: #807f7f;
	/*background-color: darkgray;*/
	border-top:1px solid #564b47;
	border-bottom:1px solid #564b47;
	padding:5px 15px;
}
h2 {
	font-size:20px;
	font-weight: normal;
	padding: 5px 10px;
}

img {
	border: 0px;
}


/* ----------banner-------------- */
#banner {
	height: 140px;
	background-color: #000000;
	background-image: url(images/header.png);
	background-repeat: no-repeat;
	background-position: right;
	border-bottom: 5px solid #f2f2f2;
}

#logo {
	padding:10px 10px;
	float: left;
	width: 205px;
	height: 126px;
	margin-right: auto;
} 

/* ----------navbarback-------------- */
#navbarback {
	height: 36px;
	background-image: url(images/navbar.png);
}

/* ----------navi-------------- */
#navi {
	/*background-image: url(images/navbar.png);
	background-position: center;*/
	height: 36px;
	margin-top: -36px;
	position: absolute;
	border-left: 1px solid #ffffff;
	
}

.buttonleft {
	
	float: left;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	width: 180px;
	height: 36px;
	border-right: 1px solid #ffffff;
}
.buttonright {
	float: right;
	color: #ffffff;
	font-size: 15px;
	text-align: right;
	width: 380px;
	height: 36px;
}

/* ----------container zentriert das layout-------------- */
#outercontainer {
	background-image: url(images/content.png);
	background-position: center;
	background-repeat: repeat-y;
	margin-left: auto;
	margin-right: auto;
} 
#container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
} 

/* ----------outer und inner----------------- */

#outer{ 
	border-left: solid 200px #ffffff; /* linke Menue Spalten Farbe  */ 
	/*border-right: solid 200px #ffffff; /* rechte Menue Spalten Farbe  */ 
	background-color: #ffffff; /* Farbe fuer Inhalt Spalten  */
} 

#inner{
	margin:0; 
	width:100%;
}

/* --------------left navigation------------- */
#left {
	width:200px; 
	float:left; 
	position:relative; 
	margin-left:-200px; 
	margin-right:1px;
	border-right:1px solid grey;
}
#naviliste {
	margin-left:20px;
}
/* --------------right navigation------------- */
/*
#right {
	width:200px; 
	float:right; 
	position:relative; 
	margin-right:-200px; 
	margin-left:1px;
}
*/
/* -----------------Inhalt--------------------- */ 
#content{ 
	/*width: 550px;*/
	border-left:1px solid grey;
	width: 780px;
}

/*  ----------------footer---------------------- */ 
#footer {
	clear:left;
	text-align: right;
}

/*  ----------------impressum---------------------- */ 
#impressum {
	background-image: url(images/footer.png);
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
}




/*  ----------------CONTENT---------------------- */ 
/* ----------topcontent-------------- */
#topcontent {
	width: 780px;
	height: 30px;
}
.buttoncontent {
	float:left;
	width: 150px;
}

/* --------------left content navigation------------- */
#leftcontent {
	width:150px; 
	float:left;
	margin-left:-1px;
	/*overflow:auto;*/
}
/* -----------------Inhalt--------------------- */ 
#contentcontentsmall{
	width: 630px;
	height: 200px;
	margin-left: 149px;
}
#contentcontentbig{
	width: 780px;
	height: 200px;
	/*margin-left: 150px;*/
}
#infoBoxBig{
	width: 550px;
	float: left;
	margin: 5px;
}
#infoBoxSmall{
	width: 400px;
	float: left;
	margin: 5px;
}
#rightBox{
	width: 200px;
	float: right;
	margin: 5px;
}
/* ----------container-------------- */
#outercontainercontent {
	margin-left: auto;
	margin-right: auto;
}
#footercontent { 
	width: 780px;
	clear: both;
}
#comment { 
	width: 780px;
}
#commentheader { 
	width: 780px;
}
#commentbody { 
	width: 780px;
}
#selectbox{
	width: 180px;
}